.block {
  margin-bottom: 40px;
  h2 {
    margin: 0 0 20px;
    &,
    a {
      color: var(--midMainColor1);
    }

    a {
      text-decoration: underline;
    }
  }
  .content-block__item {
    margin-bottom: 10px;
    a {
      color: var(--mainColor);
      text-decoration: underline;
      margin-bottom: 10px;
      display: block;
    }
  }
}
