.posts {
  margin-top: 30px;
}

.post {
  --border-color: var(--grey200);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;

  &:hover {
    --border-color: var(--grey500);
  }

  a {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--orange800);
  }

  &__date {
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey500);
  }

  &__desc {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--grey700);
  }
}
